.punk-api-card-container {
  background-color: #fff;
  border: 1px solid #ececec;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 0.85rem;
  padding-block: 1rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  text-align: center;

  &__name {
    font-size: 1em;
  }

  &__tagline {
    margin-block: 0.75rem;
  }

  &__image-container {
    flex: 1;
    max-height: 15rem;

    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      max-height: 100%;
      width: auto;
    }
  }
}
