.punk-api-card-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  padding: 1rem 4rem;
  margin: 1rem 3rem;
  border-radius: 0.85rem;
  border: 1px solid #ececec;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &__name {
    text-align: center;
    padding: 0.5rem 0;
  }

  &__tagline {
    text-align: center;
    padding: 0.5rem 0 1.5rem 0;
  }

  &__image-container {
    flex: 1;
    overflow: hidden;

    display: grid;
    place-items: center;

    & img {
      width: 80%;
      max-height: auto;
    }
  }
}
