.app-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  &__top-bar {
    width: 100%;
    height: 4rem;

    background-color: rgba(2, 22, 191, 255);
    color: #fff;
    font-size: 1.35em;

    display: grid;
    place-items: center;
  }

  &__punk {
    flex: 1;
  }
}
